{% extends "base.html" %}
{% block title%}Login{% endblock %}
{% block content %}
<div class="row mt-4 mb-4">
    <div class="col-lg-6 ml-5" style=" width:600px; background-color:#d6f5f5">
      <div class="card">
      <img src="{{url_for('static',filename='images/loginimg.jpg')}}" alt="loginimg" class="rounded" style="width:100%;"> 
      </div>
    </div>
    <div class="col-lg-6 card ml-3" style="width:600px; background-color:#248f8f">
    <form method="POST">
      <h2 align="center">Login</h2>
      <div class="form-group">
        <label for="email">Email Address :</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter Your Email ID"
        />
      </div>
      <div class="form-group" mt-4>
        <label for="password">Password :</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter Password"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-dark text-info mb-4 float-end">Login</button>
    </form>
    </div>
  </div>
{% endblock %}
    

